<div class="col-md-6 col-sm-6">
  <article class=" blog-teaser">
    <header>
      <%= image_tag post.image.url(:thumb) if post.image? %>
      <h3><a href="#"><%= link_to post.title, post_path(post) %></a></h3>
      <span class="meta"><%= post.created_at.strftime("%e %b %Y") %>, Aleksander Khorkov</span>
      <hr>
    </header>
    <div class="body">
      <%=h truncate(post.content, :length => 250) %>
    </div>
    <div class="clearfix">
      <%= link_to "Read more", post_path(post), class: "btn btn-tales-one" %>
    </div>
  </article>
</div>
