<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600%7CPT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="modules/respond/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery/js/jquery.min.js"><\/script>')</script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Font for the overlay screens-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  </head>

  <body class="<%= controller.controller_name %>">

    <%= render 'layouts/flash'%>

    <header>
      <div class="widewrapper masthead">
        <div class="container">
          <%= link_to "Playrix", root_path, id: "logo" %>
          <div id="mobile-nav-toggle" class="pull-right">
            <%= link_to root_path, data: { toggle: "collapse", target: ".tales-nav .navbar-collapse" } do %>
                <i class="fa fa-bars"></i>
              <% end %>
          </div>
        </div>
      </div>

      <div class="widewrapper subheader">
        <div class="container">
          <%= render 'layouts/breadcrumbs'%>
          <%= render 'layouts/search'%>
        </div>
      </div>
    </header>

    <div class="widewrapper main">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer'%>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/modernizr/js/modernizr-custom.js"></script>
  </body>
</html>
